#form_login {
    left: 69%;
    top: 65%;
    margin-left: -25%;
    position: absolute;
    margin-top: -25%;
}

#reg
{
    left: 68%;
    top: 100%;
    margin-left: -25%;
    position: absolute;
    margin-top: -25%;
}