<div >
<h3 align='center'>User Registration</h3>
<form id="form_login" (ngSubmit)="onSubmit()" #loginform="ngForm">
  <!-- <div class="form-group">
    <label>User Id:</label>
    <input type="text" class="form-control" id="userId" name="userId" pattern="[1-9]{4,10}" #userId="ngModel"
      [(ngModel)]="registration.userId" required>
    <div [hidden]="userId.valid || userId.pristine" class="alert alert-danger">userId is invalid. It must have minimum 4
      characters maximum 10 and it must only contain numbers</div>
  </div> -->

  <div class="form-group">
    <label>First Name:</label>
    <input type="text" class="form-control" id="firstName" name="firstName" #firstName="ngModel"
      [(ngModel)]="registration.firstName" required pattern="[A-Z][a-z]{3,12}">
    <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">firstName is invalid. It must have
      minimum 3 characters maximum 12, with frist letter capital and it must only contain alphabets</div>
  </div>

  <div class="form-group">
    <label>Last Name:</label>
    <input type="text" class="form-control" id="lastName" name="lastName" #lastName="ngModel"
      [(ngModel)]="registration.lastName" required pattern="[A-Z][a-z]{1,12}">
    <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">lastName is invalid. It must have
      minimum 3 characters maximum 12, with frist letter capital and it must only contain alphabets</div>
  </div>

  <div class="form-group">
    <label>UserName:</label>
    <input type="text" class="form-control" id="userName" name="userName" #userName="ngModel"
      [(ngModel)]="registration.userName" required pattern="[A-Za-z]{3,12}">
    <div [hidden]="userName.valid || userName.pristine" class="alert alert-danger">username is invalid. It must have
      minimum 3 characters maximum 12 and it must only contain alphabets</div>
  </div>

  <div class="form-group">
    <label> User Email:</label>
    <input type="email" class="form-control" id="usermail" name="email" #email="ngModel"
      [(ngModel)]="registration.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
    <div [hidden]="email.valid || email.pristine" class="alert alert-danger">email is invalid</div>
  </div>

  <div class="form-group">
    <label> PhoneNumber:</label>
    <input type="text" class="form-control" id="contact" name="contact" #contact="ngModel"
      [(ngModel)]="registration.contact" required pattern="[789][1-9]{9}">
    <div [hidden]="email.valid || email.pristine" class="alert alert-danger">contact is invalid</div>
  </div>

   <div class="form-group">
    <label>Password:</label>
    <input type="text" class="form-control" id="password" name="password" #password="ngModel"
      [(ngModel)]="registration.password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
    <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Must contain at least one number and
      one uppercase and lowercase letter, and at least 8 or more characters</div>
  </div>

  <div class="form-group">
    <label>Confirm Password:</label>
    <input type="text" class="form-control" id="cpassword" name="cpassword" #cpassword="ngModel" [(ngModel)]="registration.cpassword" required
      pattern="{{registration.password}}">
    <div [hidden]="cpassword.valid || cpassword.pristine" class="alert alert-danger">Passwords do not match</div>
  </div>


  <button type="submit" [disabled]="!loginform.valid" class="btn btn-primary">Register User</button>

</form>
</div>