#form_login {
    left: 68%;
    top: 68%;
    margin-left: -25%;
    position: absolute;
    margin-top: -25%;
}

#reg
{
    left: 68%;
    top: 108%;
    margin-left: -25%;
    position: absolute;
    margin-top: -25%;
}